
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" type="image/x-icon"  href="https://wx.mlcdn.com.br/site/shared/favicon/favicon-16x16.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <title>LuizaLabs | Login</title>

</head>
<body>
    <div class="box">
        <div class="container">

            <div class="top">
                <span class="logo">                  
                    <img src="https://logodownload.org/wp-content/uploads/2014/06/magalu-logo-1.png" />
                </span>
                <header>Login</header>
            </div>

            <div class="input-field">
                <input type="text" class="input" placeholder="Username" id="username" >
                <i class='bx bx-user-circle'></i>
            </div>

            <div class="input-field">
                <input type="Password" class="input" placeholder="Password" id="_password">
                <i class='bx bx-lock-alt'></i>
            </div>

            <div class="input-remember">
                <input class="form-check-input" type="radio" id="rememberMeRadio">
                <label for="radio"> Lembre de mim</label>
            </div>

            <div class="input-field">
                <input type="submit" class="submit" value="Login" id="btnLogin" onclick="clickme()" >

            </div>
            
            @*--------- incorrect user label --------------*@
            <div class="bottom-texts">
                <label hidden id="incorrect-user">Senha e/ou usuário incorreto(s)!</label>
            </div>

            <div class="bottom-texts">
                Esqueci minha <label><a href="#">senha</a></label>
            </div>

            <div class="bottom-texts">
                Ainda não é cliente? <label><a href="#">Cadastre-se!</a></label>
            </div>
            
        </div>

    </div>
            
    <footer class="footer">
        <label class="text-mg-cnpj">
            Magazine Luiza S/A - CNPJ: <i>47.960.950/1088-36</i>
        <p>
            ® Magazine Luiza – Todos os direitos reservados.
        </label>
    </footer>
</body>
</html>

