<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Bem vindo</title>
    <link rel="stylesheet" href="~/css/loggedStyle.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/x-icon" href="https://wx.mlcdn.com.br/site/shared/favicon/favicon-16x16.png">
    <script src="~/js/login.js" asp-append-version="true"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
